/*Import fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,300;1,700&display=swap'); 
/* font-family: 'Merriweather', serif; */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;1,300&display=swap');
/* font-family: 'Merriweather Sans', sans-serif; */

/*Utilities*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}
/*COLORS*/
:root{
    --first-color: #32E0C4;
    --secondary: #0D7377;
    --dark: #212121;
    --background: #EEEEEE;
    
}
/* SCROLLSPY*/

#active{
    color: var(--secondary);

}

/*HEADER*/

/*nav*/
.nav-header{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.755);
    box-shadow: 0 2px 50px  rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
}
.item-nav{
    list-style-type: none;
    margin: 10px 10px;
    position: relative;
    
}
.item-nav a{
    text-decoration: none;
    color: var(--dark);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

/*animation items-nav*/
.item-nav::after{
    content: '';
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--first-color);
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    
    transition: transform 250ms ease-in;
    -webkit-transition: transform 250ms ease-in;
    -moz-transition: transform 250ms ease-in;
    -ms-transition: transform 250ms ease-in;
    -o-transition: transform 250ms ease-in;
}
.item-nav:hover::after{
    transform:scaleX(1) ;
    -webkit-transform:scaleX(1) ;
    -moz-transform:scaleX(1) ;
    -ms-transform:scaleX(1) ;
    -o-transform:scaleX(1) ;
}
/*background img*/




/* section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

section:nth-child(odd){
    background-color: #0D7377;
} */